/* gruvbox color scheme */

body {
  background-color: #fbf1c7;
  color: #3c3836;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
    color: #ebdbb2;
  }
}

/* Center contents */

* { margin: 0; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 10vw;
  row-gap: 10vh;
  text-align: center;
}

/* Fonts */

/* Interpolate 16–32px font-size for 320–3840px device-width */
html { font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (3840 - 320))); }

h1 {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: normal;
}

p { font-family: ui-monospace, 'Roboto Mono', Menlo, Consolas, monospace; }

/* List as row of icon links */

ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 2em;
  gap: 1.25em;
  justify-content: center;
  padding-left: 0;
}

li { display: inline-block; }

a { text-decoration: none; }
