/* gruvbox color scheme */

body {
  background: #fbf1c7;
  color: #3c3836;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #282828;
    color: #ebdbb2;
  }
}

/* Center contents */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0 7.5vw;
  text-align: center;
}

/* Fonts */

/* Soft min/max of 14px and 22px for viewport width range 300–1600px */
html { font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300))); }

h1 {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-weight: normal;
}

p { font-family: ui-monospace, 'Roboto Mono', Menlo, Consolas, monospace; }

/* List as row of icon links */

ul {
  font-size: 0;
  margin: 1rem 0;
  padding-left: 0;
}

li {
  display: inline-block;
  font-size: 2rem;
  margin: 0.25em 0.5em;
}

a { text-decoration: none; }
